<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
        <%= @user.username %>
        <br/>
        <%= @user.email %>
        <br/>

      
    </section>

    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <hr>
        <% if @user != current_user %> 
    <% if @user.shares_any_group?(current_user) %>
        <strong>You share a group with this user</strong>
        <%else%>
        <strong>You do not share any group</strong>
        <%end%>
        <%end%>
  </aside>

  <div class="col-md-8">
  <%= render 'follow_form' if user_signed_in? %>
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
        
      </ol>
      <%= will_paginate @posts %>
    <% end %>
    <br>
    <br>
    <br>
  </div>
  <br>
  <br>
</div>
<br>
<br>
<br>