<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
        <%= @user.username %>
        <br/>
        <%= @user.email%>
        <div class="fb-follow" data-href="http://unstarv.herokuapp.com/" data-height="150" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
      
    </section>

    <section class="stats">
      <%= render 'shared/stats' %>
    </section>

  </aside>

  <div class="col-md-8">
  <%= render 'follow_form' if user_signed_in? %>
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
        
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>

</div>