


<div class ="wrap">


<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <hr/>
      <br/>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
   
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
      

    </aside>
    <section class="post_feed">
    <br>
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
      </section>
    </div>
  </div>
<% else %>

            

    


      
</aside>


<div class="row">
<div class="fb-like"
    data-share="true"
    data-width="450"
   data-show-faces="true"></div>
 
 <h3 class = "center">Join <%= [2000, User.all.count].max %>+ artists.<hr></h2>


<br/>
<br/>
  
   
 <!-- <iframe src="terms" width= "100%" height= "600"></iframe>-->
 <form class="form-horizontal">
  <fieldset>
   
    <div class="form-group">
      
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
        <br/>
        <br/>
      </div>
   
    </br>
   
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        <br/>
        <br/>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox"> I agree to the terms and conditions.
          </label>
        </div>
      </div>
    </div>
    
   
    
         
  
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Log in</button>
        <button type="submit" class="btn btn-primary">Sign up</button>
        
      </div>
    </div>
  </fieldset>
  <hr>
  <br/>

</form>

     <div class = "inline">
   <button type="submit" class="btn btn-info"><i class="fa fa-facebook"></i>  Login with Facebook</button>
  
     <button type="submit" class="btn btn-primary"><i class="fa fa-twitter"></i>  Login  with  Twitter   </button>
    
     <button type="submit" class="btn btn-default"><i class="fa fa-linkedin"></i>  Login  with  LinkedIn</button>
   
        <button type="submit" class="btn btn-primary btn-warning"><i class="fa fa-google"></i>  Login with Google  </button>
       
       </div>
</div>




  



</section>
</div>
<%end%>




</div>










