
<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <hr/>
      <br/>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
   
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
      

    </aside>
    <div class="col-md-8">
    <br>
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

   <div class="row">           
<aside class="col-md-4">
 <h2>Unstarv Alpha terms</h2>
 <iframe src="terms" width= "100%" height= "600"></iframe>
  <!--<iframe src="users/sign_up#signup" width= "100%" height= "600"></iframe>-->
 
    <section>
</section>
    <section></section>


      
</aside>
<div class= "col-md-4">
  
   <h2>Sign up/Sign in</h2>
 <!-- <iframe src="terms" width= "100%" height= "600"></iframe>-->
 <form class="form-horizontal">
  <fieldset>
   
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox"> I agree to the terms and conditions.
          </label>
        </div>
      </div>
    </div>
    
   
    
         
  
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Log in</button>
        <button type="submit" class="btn btn-primary">Sign up</button>
        
      </div>
    </div>
  </fieldset>

</form>


   <button type="submit" class="btn btn-info"><i class="fa fa-facebook"></i>  Login with Facebook</button>
   <br/>
   <br/>
     <button type="submit" class="btn btn-primary"><i class="fa fa-twitter"></i>  Login with Twitter </button>
    <br/>
    <br/>
     <button type="submit" class="btn btn-info"><i class="fa fa-linkedin"></i>  Login with LinkedIn</button>
     <br/>
     <br/>
        <button type="submit" class="btn btn-primary btn-warning"><i class="fa fa-google"></i>  Login with Google</button>
       <br/>
       
</div>

<div class= "col-md-4">

<section>
 
 <h2>Join <%= [2000, User.all.count].max %> + artists</h2>
<div class="row">
<div class="fb-like"
    data-share="true"
    data-width="450"
   data-show-faces="true"></div>

 

</section>

  


</div>
</section>
</div>
<%end%>















