


<div class ="wrap">


<% if user_signed_in? %>
 <div class="row submenu">  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Hi <%= current_user.username %><%= current_user.email%> | <%= render 'shared/stats' %> | Your score is : | You belong to x groups | X invites pending</h3>
  </div>
  <div class="panel-body">
     
        <%= render 'shared/post_form' %> | Latest unchecked feedback
      
  </div>
</div>

</div></div>
 <div class="row feed">
   <ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">My Projects</a></li>
  <li><a href="#profile" data-toggle="tab">My Rooms</a></li>
   <li><a href="#profile" data-toggle="tab">My Groups</a></li>
  
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Account <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#dropdown1" data-toggle="tab">Edit Account</a></li>
      <li class="divider"></li>
      <li><a href="#dropdown2" data-toggle="tab">Boost Account</a></li>
    </ul>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home">
    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
  </div>
  <div class="tab-pane fade" id="profile">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
  </div>
  <div class="tab-pane fade" id="dropdown1">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
  </div>
  <div class="tab-pane fade" id="dropdown2">
    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
  </div>
</div>


 </div>




<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <hr/>
      <br/>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
   
     
      

    </aside>
    <section class="post_feed">
    <br>
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
      </section>
    </div>
  </div>
<% else %>

            

    


      
</aside>


<div class="row">
<div class="fb-like"
    data-share="true"
    data-width="450"
   data-show-faces="true"></div>
 
 <h3 class = "center">Join <%= [2000, User.all.count].max %>+ artists.<hr></h2>


<br/>
<br/>
  
   
 <!-- <iframe src="terms" width= "100%" height= "600"></iframe>-->
 

<h2>Sign up</h2>
<fieldset>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal" ) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
   <div class="col-lg-10">
    
    <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "Email"  %>
    
  </div>
  </div>

  <div class="field">
   <div class="col-lg-10">
    
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "inputPassword", placeholder: "Password" %>
     <br/>
     
  </div></div>
  


  <div class="field">
    <div class="col-lg-10">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "inputPassword", placeholder: "Password" %>
     <br/>
    
  </div>
  </div>

   <div class="col-lg-10">
    <input type="checkbox">* I agree to the <a href="#">terms and conditions</a>
     <br/>
    <br/>
     </div>

     <div class="col-lg-10">
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary center" %>
    </div>
  </div>
<% end %>
 </fieldset>

 <div class="col-lg-10">
<%= render "devise/shared/links" %>
<br/>
<br/>
</div>


<div class="col-lg-10">

  <hr>
  <br/>
  </div>

</form>

     <div class = "inline">

   <button type="submit" class="btn btn-info btn-active"><i class="fa fa-facebook"></i> <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></button>
  
     <button type="submit" class="btn btn-primary"><i class="fa fa-twitter"></i>  Login  with  Twitter   </button>
    
     <button type="submit" class="btn btn-default"><i class="fa fa-linkedin"></i>  Login  with  LinkedIn</button>
   
        <button type="submit" class="btn btn-primary btn-warning"><i class="fa fa-google"></i>  Login with Google  </button>
       
       </div>
</div>




  



</section>
</div>
<%end%>




</div>










