<li id="post-<%= post.id %>">
  
 
  <span class="content">
    <strong><h4 class="title"><%= post.title %>
  <!--
  <a href="#" id="comenting"><span class="glyphicon glyphicon-align-left glyphicon-comment" aria-hidden="true"></span>
  </a>

  <a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
   <a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></h4> -->
   </h4>
   </strong>
   
    <%= post.body %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    <small>Posted <%= time_ago_in_words(post.created_at) if post%> ago.</small>
    <% if current_user == post.user %>
      <%= link_to  post, method: :delete,
                                       data: { confirm: "You sure?" }  do %>
        <i class="glyphicon glyphicon-trash"></i>
        <%end%>
      
      |<a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
    <% end %>
   |<%= pluralize post.reputation_for(:votes).to_i, "vote" %>
   
    |<%= link_to  vote_post_path(post, type: "up"), method: "post" do%>
       <i class="glyphicon glyphicon-thumbs-up"></i>
       <%end%>
       |<%= link_to  vote_post_path(post, type: "down"), method: "post" do%>
       <i class="glyphicon glyphicon-thumbs-down"></i>
       <%end%>
  </span>
 
    
    <br>

    
  

  


  

<h5>Comments (<%= post.comments.count %>) 
  <%= link_to  id: "commenting" do %>  
<i class="glyphicon glyphicon-align-left glyphicon-comment" aria-hidden="true"></i> 
  <% end %>


  </h5>

  <div id="commentingForm"> 
  <h3>Post your opinion</h3>
    <%= render 'shared/comment_form', post: post %>
    <% if post.comments.count > 0 %> 
    </div>



   <% post.comments.each do |comment| %>
      <% if comment != post.comments.at(post.comments.count) %>
    <h4><small>Comment by <%=link_to comment.post.user.username, comment.user %></small></h4>
    <span class="comment"><%= comment.body %></span>
     <br/>
    <em><span><small><strong><%=time_ago_in_words(comment.created_at) if !comment.created_at.nil?%> ago</strong></small>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                       <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                                        <a href="#"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
                                        
    </span></em>
    </li>
    <br>
    <br>
    <%end%>
    <%end%>
    <%end%>
      
     <br>
     <br>
     <br>
      
     


  